body { background-color: #ffa; margin: 20px; font-family: Arial; }
a:visited { color: #555; }
#page { background-color: #fff; border: 1px solid #999; }
#header { padding: 6px; border-bottom: 1px solid #000; }
#header h1 { margin: 0; padding: 0; }
#body { padding: 6px; }
#footer { text-align: center; }
#menu { border-bottom: 1px solid #000;}
#menu ul { margin: 0; padding: 0; }
#menu ul li { margin: 0; padding-left: 10px; display: inline;}