<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Rails Warehouse</title>
    <%= stylesheet_link_tag 'standard', :media => 'all' %>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1>Rails Warehouse</h1>
      </div>
      <div id="menu">
        <ul>
          <li><%= link_to 'Home', '/' %></li>
          <li><%= link_to 'Revision Report', :controller => 'revision_reports' %></li>
        </ul>
      </div>
      <div id="body">
        <%= yield %>
      </div>
      <div id="footer">&nbsp;</div>
      </div>
  </body>
</html>