<html>
<head>
  <title><%= title %></title>
  <style>
  .ruby, .xml, .csv, .code, .sql, .yaml, .yml, .output { 
    border: solid 1px #444;
    background-color: #ffd; 
    white-space: pre;
    margin: 10px, 20px, 10px, 20px;
    font-family: Courier;
    font-size: small;
    padding: 10px;
  }
  dl.options dt {
    font-family: Courier;
    font-size: small;
  }
  div.title {
    font-size: large;
    border-bottom: 1px solid #ddd;
  }
  .ruby .normal {}
  .ruby .comment { color: #005; font-style: italic; }
  .ruby .keyword { color: #A00; font-weight: bold; }
  .ruby .method { color: #077; }
  .ruby .class { color: #074; }
  .ruby .module { color: #050; }
  .ruby .punct { color: #447; font-weight: bold; }
  .ruby .symbol { color: #099; }
  .ruby .string { color: #944; background: #FFE; }
  .ruby .char { color: #F07; }
  .ruby .ident { color: #004; }
  .ruby .constant { color: #07F; }
  .ruby .regex { color: #B66; background: #FEF; }
  .ruby .number { color: #F99; }
  .ruby .attribute { color: #7BB; }
  .ruby .global { color: #7FB; }
  .ruby .expr { color: #227; }
  .ruby .escape { color: #277; }
  .xml .normal {}
  .xml .comment { color: #005; font-style: italic; }
  .xml .tag { color: #A00; font-weight: bold; }
  .xml .attribute { color: #A00; font-weight: bold; }
  .xml .string { color: #777; }
  </style>
</head>

<body>
  <%= content_with_toc %>
</body>
</html>